\*\*/.history/

\*\*/\_autosave-\*

\*\*/\\\#auto\_saved\_files\\\#

\*\*/\*.bak

\*\*/\*.bck

\*\*/\*.kicad\_pcb-bak

\*\*/\*.kicad\_sch-bak

\*\*/\*.sch-bak

\*\*/\*.tmp

\*\*/\*~ 

\*\*/\*.kicad\_prl

\*\*/\*.net

\*\*/\*.dsn

\*\*/\*.ses

\*\*/\*.cmp 
